<template name="postItem">

  <iframe src="http://s3.amazonaws.com/uploads.knightlab.com/storymapjs/6f5d610d20e507871d936152c7c86a44/still-hungry/index.html" frameborder="0" width="100%" height="800"></iframe>
  <div id="container" class="view_map">
    <div id="mapWrapper" style="width:100%;height:300px;position:relative;">
        <div id="map" style="width:100%;height:100%"></div> <!-- 지도를 표시할 div 입니다 -->
        <input type="button" id="btnRoadview" onclick="toggleMap(false)" title="로드뷰 보기" value="로드뷰">
    </div>
    <div id="rvWrapper" style="width:100%;height:300px;position:absolute;top:0;left:0;">
        <div id="roadview" style="height:100%"></div> <!-- 로드뷰를 표시할 div 입니다 -->
        <input type="button" id="btnMap" onclick="toggleMap(true)" title="지도 보기" value="지도">
    </div>
  </div>
  <!-- 
  <div class="ui card">
    <a class="image" href="{{pathFor 'postPage'}}">
      {{#if imageUrl}}
        <img src="{{imageUrl}}">
        {{else}}
        <img src="/img/empty_bg.jpg">
      {{/if}}
    </a>
    <div class="content">
      <a class="header" href="{{pathFor 'postPage'}}">{{title}}</a>
      <div class="meta">
        <span class="category">{{location.city}} {{location.division}} {{location.address}}</span>
      </div>
      <div class="description">
        <p>{{description}}</p>
      </div>
    </div>
    <div class="extra content">
       <span class="left">
          <i class="comments icon">{{commentsCount}} 건</i>
      </span>
      &nbsp;&nbsp;
      <span class="left floated"><i class="thumbs outline up icon"></i> {{upvotesCount}} 명
      </span>
      <span class="right floated">
        <i class="star icon"></i>즐겨찾기
      </span>
    </div>
  </div> -->
  
</template>
