<template name="postsList">
  <div class="ui mobile stackable three cards link">
		{{#each posts}}
  		{{> postItemForList}}
		{{/each}}
    {{#if nextPath}}
      <a class="fluid ui button" href="{{nextPath}}">더보기</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
  </div>
</template>

<template name="postItemForList">
  <div class="card fluid main-card">
    <a class="image" href="{{pathFor 'postPage'}}">
      <img src="{{imageFirst}}">
    </a>
    <div class="content">
      <a class="header" href="{{pathFor 'postPage'}}">{{title}}</a>
      <span class="category">{{tel}}</span>
      <div class="meta">
        <span class="category">{{location.city}} {{location.division}} {{location.address}}</span>
      </div>
    </div>
      <div class="extra content main-card-extra text-center">
          <div class="ui two statistics mini">
              <div class="ui statistic grey">
                  <div class="text value">
                      <i class="user icon"></i> {{likes}}
                  </div>
                  <!--<div class="label">-->
                      <!--People-->
                  <!--</div>-->
              </div>
              <div class="statistic grey">
                  <div class="text value">
                      <i class="comment icon"></i> {{commentsCount}}
                  </div>
                  <!--<div class="label">-->
                      <!--Comments-->
                  <!--</div>-->
              </div>
          </div>
      </div>
    <div id="like_it" class="ui bottom attached button {{color}}">
      <i class="food icon"></i>
        <span>{{likeOrNot}}&nbsp;</span>
    </div>
  </div>
</template>

