<template name="postsList">
  {{> search}}
  <div class="ui four doubling cards">
		{{#each posts}}
  		{{> postItemForList}}
		{{/each}}
    {{#if nextPath}}
      <a class="fluid ui button" href="{{nextPath}}">더보기</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
  </div>
</template>

<template name="search">
    {{> esInput index="posts" placeholder="Search..." }}
    <div class="ui four doubling cards">
    {{#esEach index="posts"}}
      {{> postItemForList}}
    {{/esEach}}
    </div>

    {{> esLoadMoreButton index="posts"}}

    {{#ifEsHasNoResults index="posts"}}
      <div class="no-results">No results found!</div>
    {{/ifEsHasNoResults}}

    {{#ifEsIsSearching index="posts"}}
      {{> spinner}}
    {{/ifEsIsSearching}}
</template>

<template name="postItemForList">
  <div class="ui card">
    <a class="image" href="{{pathFor 'postPage'}}">
      {{#if imageUrl}}
        <img src="{{imageUrl}}">
        {{else}}
        <img src="/img/empty_bg.jpg">
      {{/if}}
    </a>
    <div class="content">
      <a class="header" href="{{pathFor 'postPage'}}">{{title}}</a>
      <span class="category">{{tel}}</span>
      <div class="meta">
        <span class="category">{{location.city}} {{location.division}} {{location.address}}</span>
      </div>
      <div class="description">
        <p>{{description}}</p>
      </div>
    </div>
    <div class="extra content">
      <div class="flex-container" style="font-size:0.9em;">
        <div class="flex-1">
          <a id="like_it" href="#">{{likeOrNot}}&nbsp;</a>
        </div>        
        <div class="flex-1">
          <a href="{{pathFor 'postPage'}}">댓글 달기&nbsp;</a>
        </div>
        <div class="flex-1">
          <a href="#">
            <i class="comment outline icon"></i>{{commentsCount}}&nbsp;
            <i class="thumbs outline up icon"></i>{{likes}}
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
