<template name="postsList">
  <div class="page ui five doubling cards">
		{{#each posts}}
  		{{> postItemForList}}
		{{/each}}
    {{#if nextPath}}
      <a class="fluid ui button" href="{{nextPath}}">더보기</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
  </div>
</template>

<template name="postItemForList">
  <div class="card">
    <a class="image" href="{{pathFor 'postPage'}}">
      {{#if imageUrl}}
        <img src="{{imageUrl}}">
        {{else}}
        <img src="/img/empty_bg.jpg">
      {{/if}}
    </a>
    <div class="content">
      <a class="header" href="{{pathFor 'postPage'}}">{{title}}</a>
      <span class="category">{{tel}}</span>
      <div class="meta">
        <span class="category">{{location.city}} {{location.division}} {{location.address}}</span>
      </div>
      <div class="description">
        <p>{{description}}</p>
      </div>
    </div>
    <div class="extra content">
      <div class="flex-container" style="font-size:0.9em;">
        <div class="flex-1">
          {{#if currentUser}}
            <a id="like_it" href="#">{{likeOrNot}}&nbsp;</a>
          {{else}}
            <span id="require_login" data-content="The default theme's basic popup removes the pointing arrow." data-variation="basic">좋아요&nbsp;</span>
          {{/if}}
        </div>        
        <div class="flex-1">
          {{#if currentUser}}
            <a href="{{pathFor 'postPage'}}">댓글 달기&nbsp;</a>
          {{else}}
            <span id="require_login">댓글 달기&nbsp;</span>
          {{/if}}
        </div>
        <div class="flex-1">
          <i class="comment outline icon"></i>{{commentsCount}}&nbsp;
          <i class="thumbs outline up icon"></i>{{likes}}
        </div>
      </div>
    </div>
  </div>
</template>

